<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>豆瓣电影短评</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style type="text/css">
        *{margin: 0;padding: 0;}
         .nav{
             height: 60px;
             width: 100%;
             background: black;
             position: fixed;
             top: 0;
         }
         .content{
             /* height: 1400px; */
             background: white;
             margin-top: 100px; 
         }
    </style>
</head>
<body>
<nav class="nav navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">首页</a>
    <form class="form-inline" method="get" action="/douban/search/">
        {% csrf_token %}
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="搜索">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
</nav>
<div class="content container">
    <h3 class="mt-5 mb-3">豆瓣电影</h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">短评</th>
            <th scope="col" class="text-nowrap">星级</th>
            <th scope="col">评论时间</th>
        </tr>
        </thead>
        <tbody>
            {% for movie in movie_info %}
                <tr>
                    <th>{{ movie.id }}</th>
                    <td>{{ movie.short_comments }}</td>
                    <td>{{ movie.star_num }}</td>
                    <td class="text-nowrap">{{ movie.comment_time | date:"Y-m-d" }}</td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>
</body>
</html>